<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Register Yourself to HGFI Network</title>
</head>
<body>
   <h1>Register Yourself to HGFI Network</h1>
   <div class="navbar">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#" class="right">Link</a>
  </div>  
  <div class="container">
  <form>
    <div class="row">
        <div class="col-25">
            <label for="fname">First name:</label>
        </div>
        <div class="col-75">
            <input type="text" id="fname" name="fname"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="lname">Last name:</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lname"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Investor">Register As:</label>
        </div>
        <div class="col-75">
            <input type="text" id="Investor" name="Investor"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
            <label for="Contact">Contact Number:</label>
        </div>
        <div class="col-75">
            <input type="text" id="Contact" name="Contact"><br><br>
        </div>
    </div>
    <div class="row">
        <div class="btnsub">
            <input type="submit" value="Submit">
        </div>
    </div>
  </form>
</div>
</body>
</html>